% rebase('base.html')
            <div class='content'>
                <p id='edit-group-name'>
                    <span><b>{{group_id_name_comment[1]}}</b></span>
                </p>
                <form id='form-edit-group' method='post'>
                    <textarea
                        name='edit-group-comment'
                        id='edit-group-comment'
                        maxlength='500'>{{group_id_name_comment[2]}}</textarea>
                    <br>
                    <input type='submit' value='Save'>
                </form>
            </div>
