% rebase('base.html')
            <div class='content'>
                <table>
                    <tr>
                        <td class='mon-list-separator' colspan='6'>&nbsp;</td>
                    </tr>
                    <tr class='mon-list-groupname-row'>
                        <td class='mon-list-groupname' colspan='4'>
                            <div class='groupname-field'>
                                <a href='/{{group_info[0][0]}}'>{{group_info[0][1]}}</a>
                            </div>
                        </td>
                        <td class='td-edit-btn'>
                          <form action="/edit/{{group_info[0][0]}}">
                            <button onclick="submit">
                              <span>&#9998;</span>
                            </button>
                          </form>
                        </td>
                        <td class='td-delete-btn'>
                          <form method='POST' name="delete_group">
                            <input type="hidden" name="action" value="delete_group">
                            <input type="hidden" name="group_id" value="{{group_info[0][0]}}">
                            <button onclick="submit" type="submit">
                              <span>&#10005;</span>
                            </button>
                          </form>
                        </td>
                    </tr>
                    <tr>
                        <td class='mon-list-comment' colspan='6'>
                            <div class='comment-field'>{{group_info[0][2]}}
                            </div>
                        </td>
                    </tr>
                    <%
                        i = 2
                    %>
                    % for element in group_info[1]:
                    <%
                        x = i%2
                        i += 1
                    %>
                    <tr class='mon-list-ip-row{{x}}'>
                        <td class='mon-list-ipaddr'>
                            <a href='/{{group_info[0][0]}}?ip={{element[0]}}' >{{element[0]}}</a>
                        </td>
                        <td class='mon-list-hostname'>
                            <div class='hostname-field-statistics'>{{element[1]}}</div>
                        </td>
                        <%
                                loss = last_24h_packetloss[element[0]]
                            %>
                        <td>24h loss: {{loss[0]}}%</td>
                        <td>
                        ({{loss[1]}})
                        </td>
                        <td>
                        </td>
                        <td class='td-delete-btn'>
                          <form method='POST' name="delete_ip">
                            <input type="hidden" name="action" value="delete_ip">
                            <input type="hidden" name="ip" value="{{element[0]}}">
                            <input type="hidden" name="group_id" value="{{group_info[0][0]}}">
                            <button onclick="submit" type="submit">
                              <span>&#10005;</span>
                            </button>
                          </form>
                        </td>
                    </tr>
                    % end
                </table>
                <!-- Monitoring results -->
                <div class='monitoring-results'>
                    % if ip_address: 
                    <span><b> Monitoring results</b></span><br><br>
                    <span><b> IP:</b> {{ip_address}}</span><br>
                    <form class='form-show-date' name='form-show-date'>
                        <input type="hidden" name="ip" value="{{ip_address}}">
                        <span><b>Select date: </b></span>
                        <select name='show-date'>           
                            % for date in date_list:
                            <option
                                % if monitoring_date == date:
                                    selected='selected'
                                % end
                                    >{{date}}</option>
                            % end
                        </select>
                        <input type='submit' value='Show'>
                    </form>
                    % if ip_statistic:
                    <div class='result-tables'>
                        <div class='div-table-results-day'>
                            <span><b> Shown date:</b> {{monitoring_date}}</span>
                            <table class='table-results'>
                                <tr>
                                    <th class='column-time'>Time</th>
                                    <th>Sent</th>
                                    <th>Received</th>
                                    <th>Loss %</th>
                                </tr>
                                % for row in ip_statistic:
                                <tr class='{{row[4]}}'>
                                    <td>
                                        <%
                                        hour_interval = row[0]+":00-" + str(int(row[0])+1)+":00"
                                        %>
                                        <a href='/{{group_info[0][0]}}?ip={{ip_address}}&show-date={{monitoring_date}}&amp;hour={{row[0]}}'>{{hour_interval}}</a>
                                    </td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>loss: {{row[3]}}%</td>
                                </tr>
                                % end
                            </table>
                        </div>
                        % if hour:
                        <div class='div-table-results-hour'>
                            <%
                            hour = hour+":00-" + str(int(hour)+1)+":00"
                            %>
                            <span><b> Shown hour:</b> {{hour}}</span>
                            <br>
                            <table class='table-results'>
                                <tr>
                                    <th class='column-time'>Time</th>
                                    <th>Sent</th>
                                    <th>Received</th>
                                    <th>Loss %</th>
                                </tr>
                                % for row in ip_statistic_hour:
                                <tr class='{{row[5]}}'>
                                    <td>{{row[0]}}:{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>loss: {{row[4]}}%</td>
                                </tr>
                                % end
                            </table>
                        </div>
                        % end 
                        <!-- end if hour: -->
                    </div>
                    % end  
                    <!-- end if ip_address -->
                    % end
                    <!-- end if ip_statistic -->
                </div>
                <!-- end Monitoring results -->
            </div>
