% rebase('base.html')
            <div class='header'>
                <span><a href='/'><b>Pinger :)</b></a></span>
                <br>
            </div>
            % if error_message:
            <div class='error_message'>
                <span><b>Error:</b> {{error_message}}</span>
            </div>
            % end
            <div class='content'>
                <span><b>-- Add IP</b></span>
                <form class='form-add-ip' name='add_ip' method='POST'>
                    <input type="hidden" name="action" value="add_new_item">
                    <input name='ip' id='ip' type='text' placeholder="111.111.111.111"><b> IP</b>
                    <br>
                    <input name='hostname' id='hostname' type='text' maxlength="38" placeholder="hostname"><b> Hostname</b>
                    <br>
                    <input onclick="document.getElementById('select_group').disabled = false;
                                    document.getElementById('new_group_name').disabled = true;
                                    document.getElementById('group_comment').disabled = true;"
                           type="radio" name="group" value="customurl" checked>
                    <select name="select_group" id="select_group">
                      % for row in group_list:
                      <option value='{{row[0]}}'>{{row[1]}}</option>
                      % end
                    </select><b> Select group</b>
                    <br>
                    <input onclick="document.getElementById('select_group').disabled = true;
                                    document.getElementById('new_group_name').disabled = false;
                                    document.getElementById('group_comment').disabled = false;"
                           type="radio" name="group">
                    <input type="text"
                           name="new_group_name"
                           id="new_group_name"
                           placeholder="new group name"
                           maxlength="40"
                           disabled="disabled"><b> Create new group</b>
                    <br>
                    <textarea name='group_comment'
                              id="group_comment"
                              maxlength="500"
                              placeholder="comment for new group"
                              disabled="disabled"></textarea><b> Comment</b>
                    <br>
                    <input type='submit' value='Add'>
                </form>
                <br>
                <span><b>-- Monitoring list</b></span>
                <br>
                <br>
                <table>
                    % for row in monitoring_list:
                    <tr>
                        <td class='mon-list-separator' colspan='4'>&nbsp;</td>
                    </tr>
                    <tr class='mon-list-groupname-row'>
                        <td class='mon-list-groupname' colspan='2'>
                            <a href='/{{row[0][0]}}'>{{row[0][1]}}</a>
                        </td>
                        <td class='td-edit-btn'>
                          <form action="/edit/{{row[0][0]}}" name="edit_group">
                            <button onclick="submit">
                              <span>&#9998;</span>
                            </button>
                          </form>
                        </td>
                        <td class='td-delete-btn'>
                          <form method='POST' name="delete_group">
                            <input type="hidden" value="delete_group" name="action">
                            <input type="hidden" value="{{row[0][0]}}" name="group_id">
                            <button onclick="submit" type="submit">
                              <span>&#10005;</span>
                            </button>
                          </form>

                        </td>
                    </tr>
                    <tr>
                        <td class='mon-list-comment' colspan='4'>{{row[0][2]}}</td>
                    </tr>
                    <%
                        i = 2
                    %>
                    % for element in row[1]:
                    <%
                        x = i%2
                        i += 1
                    %>
                    <tr class='mon-list-ip-row{{x}}'>
                        <td class='mon-list-ipaddr'>
                            <a href='/{{row[0][0]}}?ip={{element[0]}}' >{{element[0]}}</a>
                        </td>
                        <td class='mon-list-hostname'>
                            {{element[1]}}
                        </td>
                        <td>
                        </td>
                        <td class='td-delete-btn'>
                          <form method='POST' name="delete_ip">
                            <input type="hidden" name="action" value="delete_ip">
                            <input type="hidden" name="group_id" value="{{row[0][0]}}">
                            <input type="hidden" name="ip" value="{{element[0]}}">
                            <button onclick="submit" type="submit">
                              <span>&#10005;</span>
                            </button>
                          </form>

                        </td>

                    </tr>
                    % end
                    % end
                </table>
            </div>
