html,body{
    margin:0;
    padding:0;
    height:100%;
    font-family: "Veranda",sans-serif;
}
.header{
    padding:20px;
    background:#D3D3D3;
}
div.container{
    margin:auto;
    width:800px;
    background:#F1F1F1;
    min-height:100%;
    padding-bottom:20px;
}
div.content{
    padding:2em 0 4em 0;
    width:100%;
    float:center;
}
div.footer{
    background:#D3D3D3;
    height:80px;
    width:800px;
    float:bottom;
    margin:auto;
}
div.clearer{
    clear:both;
}

/*
----------- form
*/
.form-add-ip{
    margin-left:20px;
}
input{
    margin-top:5px;
}
#ip{
    width: 220px;
}
#hostname{
    width: 220px;
}

#select_group{
    width: 200px;
}
#new_group_name{
    width: 195px;
}
#group_comment{
    resize: none;
    width:400px;
    height: 80px;
    margin-top:5px;
}

/*
----------- edit group
*/
#edit-group-name{
    margin-left:10px;
    }
#form-edit-group{
    margin-left:10px;
}
#edit-group-comment{
    resize: none;
    width:400px;
    height: 80px;
    margin-top:5px;
}
/*
----------- monitoting list
*/
.content table{
    border-collapse:collapse;
}
.mon-list-separator{
    background: #D3D3D3;
    width:800px
}
.mon-list-groupname-row{
    background: #DFDFDF;
}
.mon-list-groupname{
    font-weight:bold;
    padding-left:5px;
}
.mon-list-comment{
    background: #DFDFDF;
    font-size: 0.9em;
    padding-left:10px;
}
.mon-list-ipaddr{
    padding-left:20px;
    width:160px;
}
.mon-list-ip-row0{
}
.mon-list-ip-row1{
    background: #E8E8E8;
}
.td-edit-btn{
    width:22px;
}
.td-delete-btn{
    width:20px;
}

/*
----------- monitoring results
*/
div.monitoring-results{
    padding:20px 0px 0px 5px;
}
div.result-tables{
    margin:auto;
    padding:20px;
}
div.div-table-results-day{
    float: left;
    width:370px;
}
div.div-table-results-hour{
    float:right;
    width:370px;
}
.table-results{
    text-align:left;
	margin-top:10px;
}
.column-time{
    width:100px;
}
th{
    padding-right:10px;
}
.warning_packetloss_level1{
    background: #FFACC3;
}
.warning_packetloss_level2{
    background: #FF6A66;
}


/*
----------- additional...
*/

.error_message{
    margin-top:1px;
    background:#FF6A66;
    padding: 10px 0px 10px 5px;
}
